{
  "presets": [
    [
      "@babel/preset-typescript"
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.15"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-classes",
      {
        "loose": true
      }
    ]
  ],
  "comments": false
}
